<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Crear cliente</title>
</head>
<body>
<div class="container">
<form action="#" th:action="@{/api/clients/createWeb}" th:object="${client}" method="post">
    <table class="table table-dark" >
        <tr>
            <td><label/>Name</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label/>Email</td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label/>Password</td>
            <td><input type="text" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>